{% extends "base_generic.html" %}
{% block title %} Class Page {% endblock %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% block content %}
  <head>
    <title>Class Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/class_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <body>

    <div id="carousel" class="carousel-main container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide mx-auto" style="</*padding-right:50px; padding-left: 50px*/"
                data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-pic1 carousel-item active">

                    </div>
                    <div class="carousel-pic2 carousel-item">
                                
                    </div>
                    <div class="carousel-pic3 carousel-item">
                                
                    </div>
                </div>

                <a class="carousel-control-prev" style="margin-left: 0px;" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" style="margin-right: 0px;" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

                <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ul>
            </div>

        </div>
    </div>


    <div class="container-fluid">

        <div class="row" style="height: 100px;">
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <div class="class-header-card card">
                    <div class="card-body" style="overflow: auto;">
                        <p class="card-title" style="font-size: 30px;">{{ class.subject }} {{ class.code }}</p>
                        <p class="card-text" style="font-size: 16px">{{ class.title }}</p>
                        <p><a href="/submissions/create/" class="btn btn-success">Rate this class</a>
                        <a href="#" class="btn btn-primary">Add to Favorites</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="related-classes-card card">
                    <div class="card-body">


                            <p class="card-title" style="font-size: 24px; margin-bottom: 10px" href="#">Related Courses</p>
                            {% for related_class in class.related_classes.all %}
                                <a class="card-text" style="font-size: 16px" href="{{ related_class.get_absolute_url }}">{{ related_class.title }}</a>
                            <br>
                            {% endfor %}


                        <!--
                        <p class="card-title" style="font-size: 24px; margin-bottom: 0px" href="#">Related Courses</p>
                        <br>
                        <a class="card-text" style="font-size: 16px" href="#">{{ class.related_classes.title }}</a>
                        <br>
                        <a class="card-text" style="font-size: 16px" href="#">COMPSCI 446 - Search Engines</a>
                        <br>
                        <a class="card-text" style="font-size: 16px" href="#">COMPSCI 453 - Computer Networks</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row" style="height: 25px;">
        </div>




    	<div class="row">
    		<div class="col-md-2">
    		</div>
            <div class="info col-md-8">
                <p style="font-size: 30px; margin: 20px">Course Description</p>
                <p style="font-size: 14px; margin: 20px">{{ class.description }}</p>

                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size: 30px; margin: 20px">Prerequisites</p>
                        <p style="font-size: 14px; margin: 20px">COMPSCI 220 or 230 with a grade of 'C' or better.</p>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                        <p style="font-size: 20px; margin-top: 20px;">Exams</p>
                        <p style="font-size: 14px; margin-top: 20px; color: green">{{ class.exams }}</p>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                        <p style="font-size: 20px; margin-top: 20px;">Attendance</p>
                        <p style="font-size: 14px; margin-top: 20px; color: orange">{{ class.attendance }}</p>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                        <p style="font-size: 20px; margin-top: 20px;">Textbooks</p>
                        <p style="font-size: 14px; margin-top: 20px; color: green">{{ class.textbooks }}</p>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                        <p style="font-size: 20px; margin-top: 20px;">Credits</p>
                        <p style="font-size: 14px; margin-top: 20px; color: green">{{ class.num_credits }}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
            </div>
        </div>



        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="info col-md-4">
                <!--
                <p style="font-size: 30px; margin: 20px">Reviews</p>
                <p style="font-size: 18px; margin: 20px; margin-bottom: 10px; font-weight: bold">Connor Flynn</p>
                <p style="font-size: 14px; margin: 20px;">I love it when Tim talks about his chickens during class.</p>
                <p style="font-size: 18px; margin: 20px; margin-bottom: 10px; font-weight: bold">Gordon Ramsey</p>
                <p style="font-size: 14px; margin: 20px;">This is not a cooking class. Do not bother.</p>
                <p style="font-size: 18px; margin: 20px; margin-bottom: 10px; font-weight: bold">Tim Richards</p>
                <p style="font-size: 14px; margin: 20px;">Do not judge me for self-voting.</p>
                <p style="font-size: 18px; margin: 20px; margin-bottom: 10px; font-weight: bold">David Barrington</p>
                <p style="font-size: 14px; margin: 20px;">Tim is cool.</p>-->

                <p style="font-size: 30px; margin: 20px">Reviews</p>

                {% for feedback in class_feedback %}
                <p style="font-size: 18px; margin: 20px; margin-bottom: 10px; font-weight: bold"><a href="{{ feedback.user.get_absolute_url }}">{{ feedback.user.first_name }} {{ feedback.user.last_name }}</a></p>
                <p style="font-size: 14px; margin: 20px;">{{ feedback.comment }}</p>
                {% endfor %}


            </div>
            <div class="ratings col-md-4">

                <section class="write-review py-5" id="write-review">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                            <div class="col-md-6">
                                <h5>Overall Rating</h5>
                            </div>
                            <div class="col-md-6 text-warning">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>

                        </div>
                        <div class="col-md-8 my-5 py-5">
                            <h6>Share your thoughts on this class</h6>
                            <p>Your review will give better insight for other students</p>
                            <a href="/submissions_page" class="btn btn-success">Rate this class</a>
                            <a href="/submissions_page" class="btn btn-primary">Write Reviews</a>

                        </div>
                    </div>
                </div>
                </section>

            </div>
    		<div class="col-md-2">
    		</div>
        </div>
    </div>



  </body>
{% endblock %}
</html>