{% extends "base_generic.html" %}
{% block title %} Edit Profile {% endblock %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% block content %}

<head style="background-color: yellow">
    <title>Spew@UMass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/class_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <style>
        .fakeimg {
                  height: 200px;
                  background: #aaa;
              }
              </style>
    <style>
        .pagination a{
                        color:black;
                        float:none;
                        padding:8px 16px;
                        text-decoration:none;
                    }
                    .pagination a.active{
                        background-color:#4CAF50;
                        color:white;
                    }
                    .pagination a:hover:not(.active){background-color:#ddd;}
                </style>
</head>

<body>

    <div id="carousel" class="carousel-main container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide mx-auto" style="</*padding-right:50px; padding-left: 50px*/"
                data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-pic1 carousel-item active">

                    </div>
                    <div class="carousel-pic2 carousel-item">
                                
                    </div>
                    <div class="carousel-pic3 carousel-item">
                                
                    </div>
                </div>

                <a class="carousel-control-prev" style="margin-left: 0px;" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" style="margin-right: 0px;" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

                <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        
    <br>
    <br>
    <div class="container info" style="border: 4px solid white; top: 100px">
        <hgroup class="mb20" style="margin-left: 60px; margin-top: 60px;">
            <h3>Edit Profile</h3>
        </hgroup>

        <form class="px-4 py-3" method="post">


            <!--<div class="form-group px-4 py-3" style="width: 90%; margin:auto">


                <table>
                    {% csrf_token %}
                    {{ user_form.as_table }}
                    {{ student_form.as_table }}
                </table>


                <button type="submit" class="btn btn-primary" style="width: 15%; float: center">Save</button>

            </div>-->


            <div class="form-group" style="font-family: Verdana;">

                <div style="font-size: 18px; font-family: sans-serif; margin-left: 35px; margin-top: 20px;">

                    <table>
                        {% csrf_token %}
                                                {{ user_form.as_table }}
                                                {{ student_form.as_table }}

                        {% comment %} <label for="{{ student_form.bio }}">Email subject:</label> {% endcomment %}
                        
                        {% comment %} <table>
                        <tr><td>{{ user_form.first_name }}</td></tr>
                        <tr><td>{{ user_form.last_name }}</td></tr>
                        <tr><td>{{ user_form.email }}</td></tr>
                        <tr><td>{{ student_form.bio }}</td></tr>
                        <tr><td>{{ student_form.major }}</td></tr>
                        <tr><td>{{ student_form.concentration }}</td></tr>
                        <tr><td>{{ student_form.grad_year }}</td></tr> {% endcomment %}
{% comment %} </table> {% endcomment %}
                    </table>
                    {% comment %} {% for field in student_form %} {% endcomment %}
        {% comment %} <div class="col-md-12 dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ field.label_tag }}
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <div><a href="#">{{ field }}</a></div>
            </div>
        </div> {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}

                </div>

                <button type="submit" class="btn btn-primary" style="width: 15%; margin: 35px; float left">Save</button>

                <!--<br>
                <br>

                {% csrf_token %}
                {{ user_form.first_name }}

                <br>
                <br>

                {% csrf_token %}
                {{ user_form.last_name }}

                <br>
                <br>

                {% csrf_token %}
                {{ user_form.email }}

                <br>
                <br>

                {% csrf_token %}
                {{ student_form.bio }}

                <br>
                <br>

                {% csrf_token %}
                {{ student_form.major }}

                <br>
                <br>


                {% csrf_token %}
                {{ student_form.concentration }}

                <br>
                <br>

                {% csrf_token %}
                {{ student_form.grad_year }}

                <br>
                <br>

                {% csrf_token %}
                {{ student_form.fav_courses }}

                <br>
                <br>

                {% csrf_token %}
                {{ student_form.current_courses }}

                <br>
                <br>

                <button type="submit" class="btn btn-primary" style="width: 15%; float left">Save</button>

                <input type="hidden" name="next" value="{{ next }}" />-->

            </div>

        </form>

        
        
    </div>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Footer</p>
    </div>
</body>
{% endblock %}
</html>